<h2>Ajouter un étudiant</h2>
<form [formGroup]="formEtudiant">
    <div class="col">
        <div class="col">
            <input formControlName="id" type="text" class="form-control" placeholder="Id">
          </div>
      <div class="col">
        <input formControlName="nom" type="text" class="form-control" placeholder="Nom">
      </div>
      <div class="col">
        <input formControlName="age" type="text" class="form-control" placeholder="Age">
      </div>
      <div class="col">
        <button (click)="ajouterEtudiant()" type="button" class="btn btn-primary">Ajouter</button>

      </div>
    </div>
  </form>